<div class="media">
  <div class="media-body col-md-8">
    <p><%= item.name %></p>
    <i><%= distance_of_time_in_words(item.created_at + 7.days, Time.now) %> left</i>
  </div>
  <div class="media-body col-md-4">
    <% if current_user == @user %>
      <% if item.completed == false %>
        <%= link_to '', user_item_path(current_user, item, completed: true), method: :patch, class: 'glyphicon glyphicon-ok' %>
      <% else %>
        <%= link_to '', user_item_path(current_user, item, completed: false), method: :patch, class: 'glyphicon glyphicon-repeat' %>
      <% end %>
      <%= link_to '', user_item_path(current_user, item), method: :delete, class: 'glyphicon glyphicon-remove' %>
    <% end %>
  </div>
</div>
